@font-face {
    font-family: myFirstFont;
    src:url(font.ttf);
    
  }

body{
    color:#40514E;
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
#navbar {
    background-color:#E4F9F5; 
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
   
    z-index: 2;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    font-size: 20px;
    font-family: 'Montesarrat',sans-serif;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #45b29a;
  }
  
  #navbar a:hover {
 
     color: #40514E;
  }

.top-container{
    
   padding-top:100px;
   background-color: #E4F9F5;
   position:relative;
   z-index: -1;
}

 
h1{
    font-size: 6rem;
    margin: 50px auto 10px auto;
    font-family: 'Sacramento', cursive;
    font-family: 'Merienda', cursive;
    font-family: myFirstFont;
    font-weight: 300;
    color: #11999E;
    color: #1e836c;
    color:  #45b29a;
    letter-spacing: 3px;
}
@media (max-width:480px)
{

     .top-cloud{
        display: none;
    
    }
    .bottom-cloud{
        display: none;
    
    }
 
   
   
} 
@media (max-width:600px){
    #main-img{
        width: 400px;
    }
    .top-container{
        text-align: centre;
    }
    h1{
        font-size: 3rem;
        padding:10px;
    }
    h2{
        font-size:1rem;
    }
}

@media screen and (max-width: 600px) {
    .container {
      width: 50%;
    }
    .proimg img {
        max-width: 100%;/* You can adjust this value as needed */
       
      }
      .common{
        padding:10px;
      }
}

h2{
    font-family: 'Montesarrat',sans-serif;
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: #11999E ;
    color: #45b29a;
    margin-bottom: 100px;
}
h3{
    
    font-family: 'Montesarrat',sans-serif;
    color:#66BFBF;
}
.top-cloud{
position: absolute;
right: 300px;
top:55px;
}
.bottom-cloud{
 position:absolute;   
 left:250px;
 bottom:320px;
}
#monalisagif{
    border-radius: 50%;
}
.static1{
    position: absolute;
    width:25%;
    float:left;
    z-index: 2;
    padding:15px 30px 15px 0;
  }
  .static2{
    position: absolute;
    right:0;
    width:25%;
    float: right;
    z-index: 2;
    padding:15px 0 15px 0;
    
  }

  
  .static1:hover {
    opacity:0;
  }
  .static2:hover{
    opacity: 0;
  }
  .static3{
    z-index: 2;
    position: absolute;

  }
  .static3:hover{
    opacity: 0;
  }
.skill-image1{
    width: 25%;
    float:left;
    padding:15px 30px 15px 0;
    z-index: -1;
    position: relative;
  top: 0;
  left: 0;
    
    
}
.skill-image2{
    width: 25%;
    float:right;
    padding:15px 0 15px 30px;
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
}
.contact{
    width: 150px;
    z-index: -1;
}
.contact-description{
    width:50%;
    margin:40px auto 60px auto;
}
.top-container h2{
    font-weight: normal;
    margin-bottom: 150px;
}
.skill-row {
    width: 50%;
    margin:0 auto 0 auto;
    text-align: left;
    display: inline-block;
    line-height:2;
    text-align: justify;
    position: relative;
    top:0px;
    left:0px;
}

.profile{
    margin-top:100px;
}   
.contact-me{
    line-height: 2;
}
hr{
    border-style:dotted none none none;
    border-width: 6px;
    width:4%;
    border-color:#91bdbd;
    margin: 80px auto 80px auto;

}
.bottom-container{
background-color: #66BFBF;
padding :50px 0 50px 0;
margin-top: 70px;
}

.bottom-container a{
    text-decoration: none;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montesarrat',sans-serif; 
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #66bfbf;
    text-decoration: none;
  }
 
.middle-container{
    margin-bottom: 10%;
}
.bottom-container a{
    color:#11999E;
    font-family: 'Montesarrat',sans-serif;
    margin:10px 20px 10px 20px;
}
.bottom-container a:hover{
    color:#EAf6f6;
}
.copyright{
    color:#EAf6f6;
    font-size: 0.75rem;
}
#workbody{
    background-color:#E4F9F5 ;

}

.ResImg img{
   
     width:500px;
    padding:10px; 
    
}
.ResInfo h2{
    color:#E4F9F5;
    margin-bottom: 20px;
}
.ResInfo p{
    color:#E4F9F5;
}
.common{
    width:70%;
    background-color: #6798956b;
    margin:0 auto 0 auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.game img{
    width:450px;
    padding:10px;
    
    }

.game h2{
        color:#ffff;
        margin-bottom: 20px;
}   
.gameInfo p{
        color:#ffff;
}
.siteImg img{
    width: 500px;
    padding:10px;
 
}
.siteInfo h2{
    color:#ffff;
    margin-bottom: 20px;
}
.siteInfo p{
    color:#ffff;
}